---
- name: Create v2ray Directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "root"
    group: "root"
    mode: '770'
  with_items:
    - "/services/v2ray"
    - "/services/v2ray/data"

- name: Template v2ray config.json
  template:
    src: "config.json"
    dest: "/services/v2ray/data/config.json"
    owner: "root"
    group: "root"
    mode: "660"

- name: Template v2ray docker-compose.yml
  template:
    src: "docker-compose.yml"
    dest: "/services/v2ray/docker-compose.yml"
    owner: "root"
    group: "root"
    mode: "660"

- name: Start v2ray container
  ansible.builtin.shell:
    chdir: "/services/v2ray"
    cmd: docker-compose up -d

